$red: #fa5560;
$background: #FAFAFA;
$text-color: #272b2e;
@mixin btn-circle ($font-size, $color, $bgcolor) {
  color: $color;
  font-weight: 700;
  font-size: $font-size;
  background-color: $bgcolor;
  border: 1px solid (darken($color, 10%));
  border-radius: 50%;
  width: $font-size * 1.75;
  height: $font-size * 1.75;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus {
      outline: 0;
      border: none;
  }
  @include box-shadow(0px, 2px, 4px, rgba(0, 0, 0, .1));
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }
  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
