// scss variables and functions

$background: #FAFAFA;
$text-color: #616161;
$light-grey: #BDC6CC;
$red: #EB3349;
$orange: #F45C43;
$radius: 2px;
@mixin btn-circle ($font-size, $color, $bgcolor) {
  color: $color;
  font-weight: 700;
  font-size: $font-size;
  background-color: $bgcolor;
  border: 1px solid (darken($color, 10%));
  border-radius: 50%;
  width: $font-size * 1.75;
  height: $font-size * 1.75;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus {
      outline: 0;
      border: none;
  }
  @include box-shadow(0px, 2px, 4px, rgba(0, 0, 0, .1));
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }
  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button-builder($bg, $color) {
    background: $bg;
    color: $color;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: $radius;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1em;
    display:inline-block;
    text-align: center;
    &:hover {
      background:darken($bg,10%);
      transition: all 0.3s ease;
      color:$color;
    }
    &:active {
      background:darken($bg,15%);
      color:$color;
    }
    &:focus {
      border: none;
      outline: 0;
      color:$color;
    }
    &:visited {
      color:$color;
    }
    a {
      color: $color !important;
      text-decoration: none !important;
    }
  }
